<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>login:</h3>
    <form action="/login" method="POST">
        <label for="email">email:</label>
        <input type="text" name="email">
        <label for="password">password:</label>
        <input type="password" name="password">
        <button type="submit">login</button>
    </form>
    <br>
    <h3>register:</h3>
    <form action="/register" method="POST">
        <label for="name">name</label>
        <input type="text" name="name">
        <label for="email">email</label>
        <input type="email" name="email">
        <label for="password">password</label>
        <input type="password" name="password">
        <button type="submit">register</button>
    </form>
</body>
</html>