<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{# if cers.length}}
            {{# each cers}}
                <h3>patent name: {{patent_name}} <br> patent type: {{patent_type}} </h3> <hr>
            {{/each}}
    {{else}}
    {{/if}}
</body>
</html>